body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;


}

.panel-body{
	font-size: 16px;
}

p{
  font-size: 20px;
}


h1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h5{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

tr
{
	color: white;
}

