{% extends "base.html" %}

{% if user != None %}
    {% block navbar %}
        <li>
            <a href="/profile">Profile</a>
        </li>
        <li>
            <a href="/host">Host Event</a>
    {% endblock %}
{% endif %}

{% block content %}


    <div class="container">
        <h1>TallyUp</h1>
        <p class="lead">TallyUp is a web application that allows users to create an event, add any number of participants, and then keep track of wins, losses, and ties between participants. Students often want to play a series of games with their friends (i.e. FIFA) where it’s hard to keep track of wins and losses over a long period of time. TallyUp will allow college students to engage in long term game play with friends and to record their game results, in order to keep track of win/loss statistics.</p></div>
    <div class="container">    
        <h1>The Team</h1>
        <p class="lead">
        <div class="row">
        	<div class="col-lg-6">
        		<h4>Ben Debebe</h4>
        		<p>Ben Debebe is a sophomore CS major, minoring in Business Administration, at Carnegie Mellon University. He has been programming for 2 years now and has experience in writing web applications in Django, integrated with SQL-based databases and HTML/CSS/Javascript on the front-end. Ben loves playing soccer and FIFA with his friends.</p>
        		<h4>Bora Sebutkin</h4>
        		<p>Bora Sebutkin is a sophomore CS major at Carnegie Mellon University, minoring in Business Administration. His degree focuses on Machine Learning and algorithm design. Bora has work experience with telecommnications, and has constructed a fitted algorithm that performs RSSI localization with micro UAVs used to geolocate wireless access points.</p>
        	</div>
        	<div class="col-lg-6">
        		<h4>Leila Thomas</h4>
        		<p>Leila Thomas is a sophomore CS major at Carnegie Mellon University, minoring in Math, and has been programming since 2010. She has participated in several hackathons since attending Carnegie Mellon University, fosterving her developement skills. She has experience creating applications and is a course assistant for 15-121: Data Structures in Java.</p>
        		<h4>Lucas Bruder</h4>
        		<p>Lucas Bruder is currently a junior at Carnegie Mellon University studying Electrical and Computer Engineering with an emphasis in embedded systems engineering. He has experience with back-end engineering and loves playing FIFA and other competitive games in his free time.</p>
        	</div>
        </div>
      </div>

{% endblock %}