{% extends "base.html" %}

{% if user != None %}
    {% block navbar %}
        <li>
            <a href="/host">Host Event</a>
        </li>
        <li>
            <a href="/view-events">View Events</a>
        </li>
    {% endblock %}
{% endif %}

{% block content %}


    <div class="container">

        <h1>TallyUp</h1>
        <p class="lead">TallyUp is a web application that allows users to create an event, add any number of participants, and then keep track of wins, losses, and ties between participants. Students often want to play a series of games with their friends (i.e. FIFA) where it’s hard to keep track of wins and losses over a long period of time. TallyUp will allow college students to engage in long term game play with friends and to record their game results, in order to keep track of win/loss statistics.</p></div>
    <div class="container">    
        <h1>The Team</h1>
        <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Ben Debebe</h3></div>
            <div class="panel-body">Ben Debebe is a sophomore CS major, minoring in Business Administration, at Carnegie Mellon University. He has been programming for 2 years now and has experience in writing web applications in Django, integrated with SQL-based databases and HTML/CSS/Javascript on the front-end. Ben loves playing soccer and FIFA with his friends.
            </div>
          </div>
        </div>
    </div>

      </div>

{% endblock %}
