<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }} - TallyUp</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/layout.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<link rel="shortcut icon" href="/static/img/tallyuplogo.png">
	<script>
	WebFont.load({
		google: {
			families: ["Roboto:300,regular","Roboto Condensed:regular"]
		}
	});
	</script>
	{% block head %}{% endblock %}
</head>

<body>
	{% block content %}{% endblock %}
</body>
</html>
