{% extends "base.html" %}

{% if user != None %}
    {% block navbar %}
        <li>
            <a href="/profile">Profile</a>
        </li>
        <li>
            <a href="/host">Host Event</a>
        </li>
        <li>
            <a href="/view-events">View Events</a>
        </li>
    {% endblock %}
{% endif %}

{% block content %}
<div class="container" style="margin-bottom:10%;">
        <h1>{{ user.name }}'s Events Hosting</h1>
        <div>
            {% if events_hosting != None %}
                {% for event in events_hosting %}
                    <p>{{ event.name }}</p>
                {% endfor %}
            {% endif %}
            {% if events_hosting == None %}
            <p>No events for current user!</p>
            {% endif %}
        </div>
      </div>
{% endblock %}