{% extends "base.html" %}
<script type="text/javascript">
$(document).ready(function(){
    $("[data-toggle=tooltip]").tooltip();
});</script>
{% if user != None %}
{% block navbar %}
<li>
    <a href="/profile">Profile</a>
</li>
<li>
    <a href="/host">Host Event</a>
</li>
<li>
    <a href="/view-events">View Events</a>
</li>
{% endblock %}
{% endif %}

{% block content %}

<div class="container" style="margin-bottom:10%;">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ user.name }}'s Events Hosting</h1>
            {% if events_hosting == None %}
            <p>No events for current user!</p>
            {% endif %}
            {% if events_hosting != None %}
            <div class="table-responsive">
                <table id="eventTable" class="table table-bordered table-striped">
                    <thead>
                        <th>Event Name</th>
                        <th>Host Name</th>
                        <th>Event Type</th>
                        <th>Description</th>
                        <th>Participants</th>
                        <th>Winner</th>
                        <th>Date/Time</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                        {% for event in events_hosting %}
                        <tr>
                            <td>{{ event.name }}</td>
                            <td>{{ event.host }}</td>

                            <td>{{ event.event_type }}</td>


                            <td>{{ event.description }}</td>
                            <td>
                                {% for p in event.participants %}
                                {{ p.name }}<br>
                                {% endfor %}
                            </td>
                            <td>{{ event.winner }}</td>
                            <td>{{ event.datetime }}</td>
                            <td><button name="{{ event.id }}"  type="submit" id="edit" onclick="edit(this.name)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit" style="margin-bottom:50%;"></span></button></td>


                            <td><button name="{{ event.id }}" type="submit" id="delete" onclick="delete(this.name)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash" style="margin-bottom:50%;"></span></button></td>
                        </tr>

            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>
</div>

<div>

</div>
</div>

<script type="text/javascript">
function edit(id) {
    var suffix = "/manage/" + id;
    location.href = suffix;
};
</script>

<script type="text/javascript">
function delete(id){
    var del = "/delete/" + id;
    location.href = del;
};</script>
{% endblock %}