{% extends "base.html" %}

{% if user != None %}
    {% block navbar %}
        <li>
            <a href="/profile">Profile</a>
        </li>
        <li>
            <a href="/host">Host Event</a>
        </li>
        <li>
            <a href="/view-events">View Events</a>
        </li>
    {% endblock %}
{% endif %}



{% block content %}

<form class="container" method="post" action="#">
  <h1>Host Event</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Event Name</label>
            <div class="controls">
              <input type="text" class="form-control" placeholder="ex. FIFA Tournament, etc." name="event-name">
            </div>
          </div>
          <label class="form-label">Pick Participants</label>
          <select class="form-control" multiple="on" name="participants">
            {% for u in users %}
              {% if user.name != u.name %}
                <option>{{ u.name }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Type of Event/Game</label>
            <div class="controls">
              <input type="text" class="form-control" placeholder="ex. FIFA, Ping Pong, etc." name="event-type">
            </div>
          </div>
          <div class="form-group">
            <label class="form-label">Event Description</label>
            <input type="text" class="form-control" name="event-description" placeholder="ex. Chelsea vs. Arsenal, Super Bowl, etc.">
          </div>
        </div>
        <div class="col-md-4">
          <label class="control-label">Select Event Date (Y/m/d H:M)<br></label>
          <input class="form-control" id="datetimepicker" type="text" name="datepicker">
          <div class="form-group">
            <div class="controls"></div>
          </div>
          <label class="form-label">Ready to host your event?</label>
          <button type="submit" id="submit" name="go" href="/host-event" class="btn btn-lg btn-primary btn-block">Submit</button>  
        </div>
      </div>
    </form>
{% endblock %}