<!--DOCTYPE HTML-->

<html>
  
  <head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootswatch/3.0.0/cyborg/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - TallyUp</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="shortcut icon" href="/static/img/tallyuplogo.png">
</head>


<body>
<div class="container">
  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    
    <div class="col-md-4">
      <h1>Login</h1>
      <section class="login-form">
        <form method="post" action="#" role="login">
          <input type="email" name="email" placeholder="Email" required class="form-control input-lg"/>
          
          <input type="password" class="form-control input-lg" name="password" placeholder="Password" required="" />          
          
          <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>     
        </form>
        
        <div class="form-links">
          <a href="/register">Don't have an account? Register here.</a>
        </div>
      </section>  
      </div>
  </div>  
  
</div>
</body>
</html>
